.wrapper {
  background-color: white;
  width: 100%;
  margin: 0 auto 3px auto;
  border-radius: 3px;
  height: 65px;
  display: flex;
  position: relative;
  font-size: 13px;
  font-family: $body-font;
}

.proposalCreator {
  width: 180px;
}

.endDate {
  width: 60px;
  color: $gray-1;
  position: relative;
  top: 15px;
  padding-right: 10px;
  text-align: left;
}

.scheme {
  width: 80px;
  color: $gray-1;
  position: relative;
  top: 15px;
  text-align: left;
  padding-right: 8px;
}

.title {
  flex-grow: 1;
  width: 250px;
  position: relative;
  top: 16px;
  color: rgba(80, 97, 118, 1.000);
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  a {
    color: rgba(80, 97, 118, 1.000);
  }

  a:visited {
    color: rgba(80, 97, 118, 1.000);
  }

  div {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.closeReason {
  width: 160px;
  position: relative;

  .decisionPassed, .decisionFailed {
    display: none;
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    margin-top: -3px;

    img {
      width: 15px;
      position: relative;
      top: 4px;
      margin-right: 5px;
    }
  }

  .decisionReason {
    color: $gray-1;
    padding-top: 4px;
  }
}

.closeReason.decisionPassed .decisionPassed, .closeReason.decisionFailed .decisionFailed {
  display: block;
}

.predictions, .votes, .myActions {
  width: 100px;

  .myVote, .myStake, .passVote, .failVote, .forStake, .againstStake {
    display: none;
  }
}

.predictions {
    width: 110px;
}

.myActions > div {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
}

.myActions.iVoted .myVote, .myActions.iStaked .myStake {
  text-align: left;
  display: block;

  img {
    position: relative;
    top: 4px;
  }
}

.myActions.forStake .forStake, .myActions.againstStake .againstStake, .myActions.passVote .passVote, .myActions.failVote .failVote {
  display: inline-block;
  margin-left: 7px;
}

.myActions {
  color: rgba(80, 97, 118, 1.000);
  white-space: nowrap;
  display: table;
  height: 100%;
}

.voteControls {
  position: relative;
  top: 4px;

  button span {
    font-weight: normal;
    color: $gray-1;
  }

  span {
    font-weight: normal;
    color: $gray-1;
  }
}

@media only screen and (max-width: 425px) {
  .wrapper {
    height: 130px;
    padding: 10px;
    display: block;
    width: auto;

    > div {
      display: inline-block;
    }

    div.scheme {
      display: none;
    }

    div.myActions {
      display: none;
    }
  }
    
  .endDate {
    width: 70px;
    position: relative;
    top: 10px;
    text-align: right;
    font-size: 11px;
    float: right;
  }

  .title {
    font-weight: bold;
    font-size: 13px;
    position: relative;
    left: 18px;
    top: 8px;
    width: 90%;
  }

  .closeReason {
    width: 110px;
    position: absolute;
    top: 101px;
    left: 10px;
    width: 130px;
  }

  .votes {
    position: absolute;
    top: 70px;
    left: 150px;
  }

  .predictions {
    position: absolute;
    left: 230px;
    top: 71px;
  }

  .closeReason .decisionReason {
    display: block;
  }
}
