.sharingButtons {
    margin-top: 8px;
    text-align: right;
    margin-right: 148px;
}

.sharingButtons div {
    display: inline-block;
    margin-left: 8px;
    float: right;
    cursor: pointer;
}

